* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25vh;
  padding: 60 10px;
  width: auto;
}

.logo container {
  max-width: 10px;
  max-height: 5px;
}

.left,
.right {
  height: 20vh;
  width: auto;
  border-radius: 5%;
}
